.one{
    width:80%;
    height: 200px;
    padding: 25px;
    border:5px solid black;
    margin: 20px auto ;
    display: flex;
    justify-content: space-between;
    background-color:rgb(96, 163, 48);
    
}
   .box{
    width: 400px;
    height: 100px;
    padding: 2px;
    margin: 20px;;
    background-color: rgb(52, 48, 163);
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
    font-size: 18px;
    border-radius: 10px;
    font-size:larger;
   }